{
  "openapi": "3.0.0",
  "info": {
    "description": "This is the documentation for the [AHEM Ad Hoc Disposable Temporary Email service API](https://www.alamails.xyz). AHEM is a free temp mail service that allows recieving of ad-hoc emails to a mailbox of your choice. No registration or any other preparation is needed. Just send an email, and it's there.<br> Its simple and intuitive api makes it a perfect tool for testing and automation of any product that use email.",
    "version": "1.0.0",
    "title": "Ad Hoc Email Service",
    "termsOfService": "https://www.alamails.xyz/privacy"
  },
  "servers": [
    {
      "url": "https://www.alamails.xyz/api"
    }
  ],
  "tags": [
    {
      "name": "properties",
      "description": "System global configuration properties"
    },
    {
      "name": "mailbox",
      "description": "An AHEM mailbox represents the prefix of the email address."
    },
    {
      "name": "store",
      "description": "Access to Petstore orders"
    },
    {
      "name": "user",
      "description": "Operations about user"
    }
  ],
  "paths": {
    "/properties": {
      "get": {
        "tags": [
          "properties"
        ],
        "summary": "System wide global properties",
        "operationId": "getProperties",
        "responses": {
          "200": {
            "description": "Sucessfully get properties object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Properties"
                }
              }
            }
          },
          "500": {
            "description": "Something went wrong"
          }
        }
      }
    },
    "/mailbox/autocomplete": {
      "post": {
        "tags": [
          "mailbox"
        ],
        "summary": "Returns a list of mailboxs starting with the prefix string.",
        "operationId": "autoComplete",
        "responses": {
          "200": {
            "description": "Successfully fetched results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mailboxAutocomplete"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "Properties": {
        "type": "object",
        "properties": {
          "serverBaseUri": {
            "type": "string",
            "example": "https://www.alamails.xyz"
          },
          "emailDeleteInterval": {
            "type": "integer",
            "example": "3600"
          },
          "emailDeleteAge": {
            "type": "integer",
            "example": "7200"
          },
          "allowedDomains": {
            "type": "array",
            "items": {
              "type": "string",
              "example": [
                "alamails.xyz",
                "alamails.com"
              ]
            }
          },
          "customText": {
            "type": "string"
          },
          "allowAutocomplete": {
            "type": "boolean",
            "example": "false"
          }
        }
      },
      "mailboxAutocomplete": {
        "type": "array",
        "items": {
          "type": "string"
        },
        "example": [
          "test",
          "test1"
        ]
      }
    }
  }
}
